.add-comment {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.add-comment textarea {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    background-color: #2a2a2a; /* Solid color */
    color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Inter', sans-serif;
    resize: none; /* Prevent resizing */
}

.add-comment button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.add-comment button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
